<h1>Welcome to Rafflies, <%= @user.name %></h1>
<p>
  You have successfully signed up to <%= @url %>,
  your username is: <%= @user.username %>.<br>
</p>
<p>
  To login to the site, just follow this link: <%= link_to 'Rafflies', @url  %>.
</p>
<p>Thanks for joining and have a great day!</p>
