<h1>Congratulations <%= @user.name %>!! You are a winner in Rafflies</h1>

<p>You win in <strong><%= @raffle.title %></strong> with your lucky number <strong><%= @number.number_in_raffle %></strong>.</p>
<p>Your prize is <strong><%= @prize.name %></strong>.</p>
<p>You can withdraw your prize when you want.</p>

<p>Congratulations again!</p>
